/* TRANSACTION VIEW */
.timebank th { background-color:#ddd; } 
.timebank table { border:0px; }

/* Border styles */
.timebank table td {border:1px #fff solid; margin:1px; background-color:#e6e6e6; padding:7px; font-weight:normal; }
.timebank table th {border:0px; background-color:#777; padding:7px; font-weight:bold; color:#FFFFFF; }

.timebank .container { margin-left:20px; }

/* Status background color. */
.timebank .status {background-color:#fff;}
.timebank .alert {background-color:#F88;}
.timebank .alert a{color:#EEE;}
.timebank .alert a:hover{color:#FFFFFF;}
.timebank .accepted {background-color:#FFCB4C;}
.timebank .accepted a{color:#EEE;}
.timebank .accepted a:hover{color:#FFFFFF;}
.timebank .rejected {background-color:#AAA;}
.timebank .completed {background-color:#66CC33;}

/* User stats */
.timebank .userstats {float:left; background-color:#fff; padding:5px; margin:5px; font-weight:bold; }
.timebank .userstats div{ float:left; padding:5px; margin-right:6px; background-color:#fff; border:1px #aaa solid; color:#777; margin-top:10px; font-weight:normal; }
.timebank .userstats div:first-line { font-weight:bold; color:#222; }
.timebank .widget .userstats {float:left; padding:5px; margin:0px; background-color:transparent; font-weight:bold; }
.timebank .widget .userstats div{ float:left; margin-right:6px; background-color:#777; color:#EEE; margin-top:7px; font-weight:normal; }
.timebank .widget .userstats div:first-line { font-weight:bold; color:#FFF; }

/* BUTTON */
.timebank .button { background-color:#ccc; border:1px solid #eee; padding:8px; min-width:100px; max-width:150px; }

/* FANCY BOX */
.timebank .fancytitle { color:#333333; font-size:20px; font-weight:bold; line-height:30px; }

/* HIDE AND SHOW */
.hide {display:none;}
.show {display:block;}

#result {width:100%; padding: 2% 0% 0% 0%; float:left; clear:both;}

/* POPUP NEW EXCHANGE */
#popupexchange div {float:left; padding:2%; background-color:#f5f5f5; margin:0.2%; width:49.5%; height:60px;}
.clearboth {clear:both;}
.bigbutton { background-color:#000; padding:2%; float:left; margin:0.2%; width:49.5%; text-align:center; }
.bigbutton a{ color:#e5e5e5;}
.bigbutton a:hover{ color:#fff; cursor:pointer; text-decoration:none;}

#popupexchange input {padding:4%;}
#popupexchange input#amount {width:30% !important;}
#popupexchange div, .bigbutton {    box-sizing: border-box;}
